<div class="content person">
  <div class="photo">
    <img src="<%= @person.photo.full.url %>">
  </div>
  
  <div class="details">
    <h2 class="name"><%= @person.name %></h2>
    <h2 class="trajectory"><%= @person.trajectory %></h2>
  
    <p class="bold">
      <%= @person.age %>, <%= @person.occupation %>
      <br>
      <%= @person.location %>
    </p>
  
    <p>
      <span class="pre"><%= @person.story %></span>
    </p>
  
    <p>
      <span class="bold">Why did your family come to the United States?</span>
      <span class="pre"><%= @person.migration_reason %></span>
    </p>
  
    <p>
      <span class="bold">What would the U.S. be missing out on if you or your people were banned?</span>
      <span class="pre"><%= @person.value_prop %></span>
    </p>
  </div>
</div>