<div class="content gallery">
  <h2>Admin Dashboard</h2>
  
  <p>
    <%= button_to "Add", new_admin_path, method: :get %>
  </p>
    
  <% if @pending.present? %>
    <h3>Pending:</h3>
  <% end %>
  <% @pending.each do |person| %>
    <%= link_to edit_person_path(person) do %>
      <img src="<%= person.photo.thumb.url %>">
      <div class="overlay">
        <div><%= person.name%></div>
        <div><%= person.trajectory %></div>
      </div>
    <% end %>
  <% end %>
  
  <% if @pending.present? %>
    <h3>Published:</h3>
  <% end %>
  <% @published.each do |person| %>
    <%= link_to edit_person_path(person) do %>
      <img src="<%= person.photo.thumb.url %>">
      <div class="overlay">
        <div><%= person.name%></div>
        <div><%= person.trajectory %></div>
      </div>
    <% end %>
  <% end %>
</div>