<div class="content gallery">
  <h2>Admin Dashboard</h2>
  
  <p>
    <%= button_to "Add", new_admin_path, method: :get %>
  </p>
    
  <% if @pending.present? %>
    <h3 class="left">Pending:</h3>
    <% @pending.each do |person| %>
      <%= link_to edit_person_path(person) do %>
        <img src="<%= person.photo.thumb.url %>">
        <div class="overlay">
          <div><%= person.name%></div>
          <div><%= person.trajectory %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  
  <% if @pending.present? %>
    <h3 class="left">Published:</h3>
  <% end %>
  <% @published.each do |person| %>
    <%= link_to edit_person_path(person) do %>
      <div class="photo-image" style="background-image: url(<%= person.photo.thumb.url %>)"></div>
      <div class="overlay">
        <div><%= person.name%></div>
        <div><%= person.trajectory %></div>
      </div>
    <% end %>
  <% end %>
</div>