<div class="content">
  <p>
    On January 27th, President Donald Trump issued an executive order limiting access to the United States for refugees and nationals of seven "Muslim Majority" countries. Officially titled "Protecting the Nation from Foreign Terrorist Entry into the United States," the order is, not coincidentally, probably more familiar as "the Muslim Ban," phrasing used by Trump during his own Presidential campaign. The ban is unfounded, illegal, unconstitutional, and discriminatory. But worst of all, it is personally devastating to the individuals impacted, to their families, friends, and communities.
  </p>

  <p class="bold">
    #BanThis is a personal response to a personal issue. #BanThis is a dare. A call to action. A claim of what is ours.
  </p>
  
  <div class="gallery">
    <span><%= image_tag(asset_path 'outtake6.jpg') %></span>
    <span><%= image_tag(asset_path 'outtake2.jpg') %></span>
    <span><%= image_tag(asset_path 'outtake3.jpg') %></span>
  </div>
  
  <p>
    This photo campaign showcases the diverse voices of the immigrant experience. It serves to remind us that most of us carry a story of immigration. We all have stories of crossed borders, of homes in unfamiliar places, of cultures thriving in new lands, of families and communities flourishing despite it all. Nothing is as intrinsically American as these stories.
  </p>

  <p>
    Of course, without refugees and immigrants, we would not have attorneys, doctors, NBA players, activists. That's undeniable. But, more importantly, we also wouldn't have burritos or card games or cappuccinos or art and culture. We would be missing the things that make up everyday life in this country.
  </p>

  <p>
    There is so much we risk losing when any of us are banned. Unlike what is claimed by the administration, we are not banning the unknown, the evil, the ever illusive "other". We are banning us. We are banning tomorrow's America.
  </p>

  <p>
    These are the stories and faces of the America we all know. Ban or no ban. So go ahead, #BanThis.
  </p>
  
  <div class="gallery">
    <span><%= image_tag(asset_path 'outtake1.jpg') %></span>
    <span><%= image_tag(asset_path 'outtake4.jpg') %></span>
    <span><%= image_tag(asset_path 'outtake5.jpg') %></span>
  </div>
</div>
