<!DOCTYPE html>
<html>
<head>
  <title>#BanThis</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="canonical" href="http://www.banthisthecampaign.org">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lora:400,700" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92128843-1', 'auto');
  </script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <meta name="title" content="#BanThis | A Photo Campaign">
  <meta property="og:title" content="#BanThis | A Photo Campaign">
  <meta property="twitter:title" content="#BanThis | A Photo Campaign">
  
  <meta name="description" content="#BanThis is a personal response to a personal issue. #BanThis is a dare. A call to action. A claim of what is ours.">
  <meta property="og:description" content="#BanThis is a personal response to a personal issue. #BanThis is a dare. A call to action. A claim of what is ours.">
  <meta property="twitter:description" content="#BanThis is a personal response to a personal issue. #BanThis is a dare. A call to action. A claim of what is ours.">
  
  <% if content_for :meta_image %>
    <meta property="og:image" content="<%= content_for :meta_image %>">
    <meta property="twitter:image" content="<%= content_for :meta_image %>">
  <% else %>
    <meta property="og:image" content="<%= asset_url 'social.jpg' %>">
    <meta property="twitter:image" content="<%= asset_url 'social.jpg' %>">
  <% end %>
  
  <meta property="og:url" content="http://www.banthisthecampaign.org">  
  <meta name="twitter:card" content="summary_large_image">
  <meta name="keywords" content="Resistance, Immigration, Refugee, Ban, Immigration Ban, Muslim Ban, Trump, BanThis">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="#BanThis">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body class="<%= 'splash-page' if show_splash_page %>">
<div class="logo">
  <a href="/"></a>
</div>

<ol class="navigation">
  <%= nav_link('Project', root_path) %>
  <%= nav_link('About Us', about_path) %>
  <%= nav_link('The Team', team_path) %>
  <%= nav_link('Submit Your Story', new_person_path) %>
  <%= nav_link('Contact Us', contact_path) %>
</ol>
<div class="caret-container">
  <select class="navigation">
    <%= nav_option('Project', root_path) %>
    <%= nav_option('About Us', about_path) %>
    <%= nav_option('The Team', team_path) %>
    <%= nav_option('Submit Your Story', new_person_path) %>
    <%= nav_option('Contact Us', contact_path) %>
  </select>
  <div class="caret"></div>
</div>

<%= yield %>
<%= content_for :javascripts %>
</body>
</html>
