<!DOCTYPE html>
<html>
<head>
  <title>#BanThis</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="canonical" href="http://www.banthisthecampaign.org">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lora:400,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  
  <meta name="title" content="#BanThis | A Photo Campaign">
  <meta property="og:title" content="#BanThis | A Photo Campaign">
  <meta name="description" content="#BanThis is a personal response to a personal issue. #BanThis is a dare. A call to action. A claim of what is ours.">
  <meta property="og:description" content="#BanThis is a personal response to a personal issue. #BanThis is a dare. A call to action. A claim of what is ours.">
  <meta property="og:url" content="http://www.banthisthecampaign.org">
  <meta property="og:image" content="<%= asset_path 'social.jpg' %>">
  <meta name="keywords" content="Resistance, Immigration, Refugee, Ban, Immigration Ban, Muslim Ban, Trump, BanThis">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="#BanThis">
  <%= csrf_meta_tags %>
</head>
<body class="<%= 'splash-page' if show_splash_page %>">
<div class="logo">
  <a href="/"></a>
</div>

<ol class="navigation">
  <%= nav_link('Project', root_path) %>
  <%= nav_link('About Us', about_path) %>
  <%= nav_link('The Team', team_path) %>
  <%= nav_link('Submit Your Story', new_person_path) %>
  <%= nav_link('Contact Us', contact_path) %>
</ol>
<div class="caret-container">
  <select class="navigation">
    <%= nav_option('Project', root_path) %>
    <%= nav_option('About Us', about_path) %>
    <%= nav_option('The Team', team_path) %>
    <%= nav_option('Submit Your Story', new_person_path) %>
    <%= nav_option('Contact Us', contact_path) %>
  </select>
  <div class="caret"></div>
</div>

<%= yield %>

</body>
</html>
